<div class="twelve">
  <h1>Todo List</h1>
</div>

<br /><br /><br />

<div class="header">
  <span class="p-float-label">
    <input id="float-input" #todoName type="text" pInputText placeholder="Enter todo" [(ngModel)]="newTodo" />
  </span>
  <button pButton type="button" label="" (click)="add(todoName.value); todoName.value = ''">Add Todo</button>
</div>
<br />

<p-table rules="all" [value]="todos" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr *ngFor="let todo of todos; let i = index">
      <th class="id">{{ i + 1 }}</th>
      <td class="todo-name" (click)="done(i)">{{ todo.name }}</td>
      <td class="delete-and-edit" title="delete todo">
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-raised p-button-rounded"
          (click)="edit(todo)"
        ></button>

        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-raised p-button-rounded"
          (click)="delete(todo)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
